<div class="w-full max-w-md bg-white shadow-xl rounded-xl p-8 mx-auto">
  <h2 class="text-2xl font-semibold mb-6 text-gray-700">Login</h2>
  <!-- 🔴 BACKEND LOGIN ERROR (401 etc.) -->
  @if (loginErrorMessage) {
  <div class="bg-red-100 text-red-700 text-sm p-3 rounded mb-4">
    {{ loginErrorMessage }}
  </div>
  }

  <form [formGroup]="loginForm">
    <!-- EMAIL -->
    <mat-form-field class="w-full mb-4" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />

      @if (loginForm.controls.email.hasError('required')) {
      <mat-error class="text-xs leading-tight text-red-600">
        Email is required
      </mat-error>
      } @if (loginForm.controls.email.hasError('email')) {
      <mat-error class="text-xs leading-tight text-red-600">
        Enter a valid email address
      </mat-error>
      }
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field class="w-full mb-6" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />

      @if (loginForm.controls.password.hasError('required')) {
      <mat-error class="text-xs leading-tight text-red-600">
        Password is required
      </mat-error>
      } @if (loginForm.controls.password.hasError('minlength')) {
      <mat-error class="text-xs leading-tight text-red-600">
        Password must be at least 6 characters
      </mat-error>
      }
    </mat-form-field>

    <!-- LOGIN BUTTON -->
    <button
      mat-raised-button
      color="primary"
      class="w-full py-2"
      (click)="onLogin()"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>

    <!-- Forgot Password -->
    <p class="text-center mt-4 text-sm">
      <a routerLink="../forgot" class="text-blue-700 underline">
        Forgot password?
      </a>
    </p>

    <!-- Register -->
    <p class="text-center mt-2 text-sm text-gray-600">
      Not a member yet?
      <a routerLink="../register" class="text-blue-700 underline font-medium">
        Register here
      </a>
    </p>
  </form>
</div>
