<div class="w-full max-w-md bg-white shadow-xl rounded-xl p-8 mx-auto">
  <h2 class="text-2xl font-semibold mb-6 text-gray-700">Reset Password</h2>
  @if (resetErrorMessage) {
  <div class="bg-red-100 text-red-700 text-sm p-3 rounded mb-4">
    <p class="mb-2">{{ resetErrorMessage }}</p>
  </div>

  <button
    mat-button
    color="primary"
    (click)="router.navigate(['/auth/login'])"
    class="text-sm underline"
  >
    Back to Login
  </button>
  }
  <!-- Success Message -->
  @else if(resetSuccessMessage) {
  <div class="bg-green-100 text-green-700 text-sm p-3 rounded mb-4">
    {{ resetSuccessMessage }} Redirecting to login...
  </div>
  } @else {
  <form [formGroup]="resetForm">
    <!-- EMAIL -->
    <mat-form-field appearance="outline" class="w-full mb-4">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />

      @if (resetForm.controls.email.hasError('required')) {
      <mat-error class="text-xs text-red-600">Email is required</mat-error>
      } @if (resetForm.controls.email.hasError('email')) {
      <mat-error class="text-xs text-red-600">Enter a valid email</mat-error>
      }
    </mat-form-field>
    <!-- NEW PASSWORD -->
    <mat-form-field appearance="outline" class="w-full mb-4">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="password" />

      @if (resetForm.controls.password.hasError('required')) {
      <mat-error class="text-xs text-red-600">Password is required</mat-error>
      } @if (resetForm.controls.password.hasError('minlength')) {
      <mat-error class="text-xs text-red-600">
        Password must be at least 6 characters
      </mat-error>
      }
    </mat-form-field>

    <!-- CONFIRM PASSWORD -->
    <mat-form-field appearance="outline" class="w-full mb-6">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />

      @if (resetForm.controls.confirmPassword.hasError('required')) {
      <mat-error class="text-xs text-red-600">
        Confirm your password
      </mat-error>
      }
    </mat-form-field>

    <!-- FORM-LEVEL PASSWORD MISMATCH ERROR -->
    @if (resetForm.hasError('passwordMismatch') &&
    resetForm.controls.confirmPassword.touched) {
    <div class="text-xs text-red-600 mt-1 ml-1">Passwords do not match</div>
    }

    <!-- RESET BUTTON -->
    <button
      mat-raised-button
      color="primary"
      class="w-full py-2"
      (click)="onReset()"
      [disabled]="resetForm.invalid"
    >
      Reset Password
    </button>
  </form>
  }
</div>
